@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.KategoriID</td>
                    <td>@x.KetegoriAd</td>
                    <td><a href="/Kategori/KategoriSil/@x.KategoriID" class="btn btn-danger">Sil</a></td>
                    <td><a href="/Kategori/KategoriGetir/@x.KategoriID" class="btn btn-warning">Güncelle</a></td>
                </tr>
            }
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new {sayfa}),new PagedListRenderOptions
{
    LiElementClasses=new List<string>
    {"page-link"}
})
<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>

